.env
.env.*
!.env.example

node_modules/
dist/
target/

frontend/.env
frontend/.env.*
!frontend/.env.example

backend/.env
backend/.env.*
!backend/.env.example
backend/src/main/resources/application-local.properties
backend/src/main/resources/application-*.local.properties
